#intro {
    color: black;
}

@charset "ISO-8859-1";
body{
    background-color: lightgrey;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.center {
    text-align: center;
    border: 3px solid black;
}

#paragraph1{
    float: left;
    padding: 15px;
    width: 500px;
    position: relative;
    left:100px;
}

#paragraph2 {
    float: right;
    padding: 15px;
    width: 500px;
    position: relative;
    left: 250px;
}

#achievments{
    float: left;
    padding: 15px;
    width: 500px;
    position: relative;
    left:100px;
}

#programming{
    float: right;
    padding: 15px;
    width: 500px;
    position: relative;
    right: 100px;
    top:0px;
}

#projects{
    text-allign : center;
}